body {
    padding-top: 5rem;
}

img {
    width: 345px;
    height: 230px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px 20px;
}

